winget-cli
notepadplusplus.install
python3
golang
rust
git.install
7zip.install
winrar
pestudio
sysmon
googlechrome
ublockorigin-chrome
firefox
sysinternals
windows-sdk-10-version-1803-windbg
wireshark
zap
winlogbeat-oss
filebeat-oss
packetbeat-oss
putty
curl
